.subtitle {
  font-size: 1.4rem;
}

.card {
  padding: 10px;
  background-color: var(--white);
  color: var(--black);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 20px;

  &:hover {
    background-color: var(--gray-1);
  }

  img {
    height: auto;
    width: 100px;
  }

  .creation {
    font-size: 0.6rem;
    a {
      color: var(--gray-2);
      text-decoration: none;

      &:hover {
        color: var(--gray-3);
      }
    }
  }
}
