.search-box {
  padding: 0.5rem;
  text-align: center;
  input {
    border: none;
    outline: none;
    width: 50%;
    min-width: 300px; // check?
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: var(--b-radius);
    box-shadow: 0 0 10px 5px #9995;
  }

  @media (max-width: 560px) {
    input {
      width: 80%;
    }
  }
}
