<nav
  [ngStyle]="{
    background: transparent ? 'transparent' : '#111'
  }"
  [ngClass]="showLinks ? 'hasActiveLinks' : ''"
>
  <div class="logo" routerLink="">Logo</div>
  <div class="toggle-button" (click)="toggle()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="links" [ngClass]="showLinks ? 'active' : ''">
    <ul>
      <li>
        <a
          class="nav-link"
          routerLink=""
          routerLinkActive="activeRoute"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/games"
          routerLinkActive="activeRoute"
          [routerLinkActiveOptions]="{ exact: true }"
          >Games</a
        >
      </li>
      <li><a class="nav-link" href="#">Saved</a></li>
    </ul>
  </div>
</nav>
