nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 10vh;
  max-height: 50px;
  z-index: 9999;

  position: relative; // because of overlays
  color: #fff;
  // padding: 0 50px;

  .logo {
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: #fff7;
      text-shadow: 0px 0px 10px #111;
      transition: 0.5s;
    }
  }

  .toggle-button {
    display: none;
    cursor: pointer;

    i {
      font-size: 1.6rem;
      &:hover {
        color: #fff7;
        text-shadow: 0px 0px 10px #111;
        transition: 0.5s;
      }
    }
  }

  .links ul {
    display: flex;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #fff;
        padding: 1rem;

        &:hover {
          color: #fff7;
          text-shadow: 0px 0px 10px #111;
          transition: 0.5s;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  nav {
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: fit-content !important;

    .toggle-button {
      display: block;
    }
    .links {
      width: 100%;
      max-height: 0;
      background: rgba(2, 2, 2, 0.753);

      position: absolute;
      top: 100vh;
      right: 0;
      // right: -100%;
      opacity: 0;
      transition: 0.8s;
      pointer-events: none;

      &.active {
        pointer-events: all;
        top: 10vh;
        max-height: 400px;
        right: 0;
        opacity: 1;
      }

      ul {
        flex-direction: column;
        width: 100%;

        li {
          text-align: center;

          &:hover {
            background-color: rgba(136, 136, 136, 0.336);
          }

          a {
            width: 100%;
            height: 100%;
            display: inline-block;

            color: #fff;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  nav.hasActiveLinks {
    background: rgba(3, 3, 3, 1) !important;
  }
}

@media (max-height: 400px) {
  nav {
    max-height: 10vh;
    padding: 0 1rem;
    .logo {
      font-size: 0.8rem;
    }
    .toggle-button i {
      font-size: 0.8rem;
    }
  }
}

@media (min-height: 1000px) {
  nav {
    min-height: 60px;
  }
}
