.overlay {
  background-color: #f3f3f3;
  color: #111;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .box {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 2px 4px 10px #999;
    position: relative;
    padding: 18px 20px;
  }

  header {
    padding: 30px 30px 0;
    .box {
      height: 505px;
      background: url("https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 0;
      background-attachment: fixed;
      transition: 0.6s;

      &:hover {
        background-position-y: -10px;
      }

      @media (min-height: 900px) {
        background-size: auto;
      }
    }
  }

  .row {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 238px;
    grid-gap: 30px;

    .box {
      transition: 0.2s;
      position: relative;
      overflow: hidden;

      &:hover {
        transition: 0.6s;
        transform: scale(1.05);
        overflow: visible;
        z-index: 999;
        min-height: 100%;
        height: fit-content;
      }
      &.wide-span:hover .box-overlay {
        left: -100%;
      }
      &.tall-span:hover .box-overlay {
        top: -100%;
      }

      .box-overlay {
        background: #fff9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666;
        font-size: 2.5rem;
        font-weight: 500;
      }

      &.tall-span {
        grid-row: span 2;
      }
      &.wide-span {
        grid-column: span 2;
      }

      &#overall {
        .name {
          font-size: 1.5rem;
        }
        .release-date {
          font-size: 1.05rem;
          color: #666;
          span {
            color: #111;
            font-size: 1.2rem;
          }
        }
        .website {
          text-align: center;

          a {
            font-size: 1.2rem;
            font-weight: 400;
            text-decoration: none;
            color: #111;
            display: inline-block;
            margin: 1rem 1rem 0;
            padding: 0.5rem;
            border-radius: 3px;
            transition: 0.2s;

            outline: 1px solid #111;

            &:hover {
              letter-spacing: 1px;
            }
          }
        }

        .genres {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          span {
            background-color: #111;
            color: #fff;
            padding: 6px 9px;
            margin: 6px;
            border-radius: 6px;
            pointer-events: none;
          }
        }
      }

      &#description {
        text-align: justify;
        overflow: auto;

        .content {
          position: relative;
        }
      }

      &#where {
        display: flex;
        flex-direction: column;

        section {
          .subtitle {
            font-size: 1.2rem;
          }
          .content {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            span {
              font-size: 0.9rem;
              background-color: #111;
              color: #fff;
              padding: 6px 9px;
              margin: 6px;
              border-radius: 6px;
              pointer-events: none;
            }
          }

          .tags-content {
            margin: 10px 0;
            font-size: 0.9rem;
            span {
              padding: 0.5rem;
              text-transform: capitalize;
              transition: 0.3s;
              &:hover {
                font-weight: 800;
              }
              &::after {
                content: ", ";
              }
            }
          }
        }
      }

      &#developers {
        font-size: 1.05rem;
        color: #666;
        text-align: center;

        .team {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;

          span {
            color: #111;
          }
        }
      }

      &#rating {
        .subtitle {
          font-size: 1.4rem;
        }

        .content {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          .value {
            font-size: 1.2rem;
            color: #666;
            span {
              font-size: 2rem;
              color: red;
            }
          }
        }
      }

      &#other {
        overflow: auto;

        &:hover {
          height: 100%;
        }

        .subtitle {
          font-size: 1.4rem;
        }

        .card {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 5px;
          box-shadow: 2px 4px 5px #999;
          border-radius: 6px;
          transition: 0.4s;
          cursor: pointer;
          &:hover {
            box-shadow: 2px 4px 15px #666;
          }

          img {
            object-fit: contain;
          }

          .card-name,
          .card-rating {
            padding: 10px;
            text-align: center;
            font-size: 1.2rem;
          }

          .card-rating {
            color: red;
            span {
              font-size: 1rem;
              color: #999;
            }
          }
        }
      }
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;

      .box {
        &.tall-span {
          grid-row: span 1;
        }
        &.wide-span {
          grid-column: span 1;
        }
      }
    }
  }
}
