.overlay {
  background-color: var(--smoked-white);
  color: var(--black);
  width: 100%;
  height: 100%;
  margin: 0 auto;

  // all (header && .row)
  .box {
    border-radius: var(--b-radius);
    background-color: var(--white);
    box-shadow: var(--b-shadow-1);
    position: relative;
    padding: 18px 20px;
  }

  header {
    padding: 30px 30px 0;
    .box {
      height: 505px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 0;
      background-attachment: fixed;
      transition: 0.6s;

      &:hover {
        background-position-y: -10px;
      }

      .bookmark {
        position: absolute;
        top: 30px;
        right: 50px;

        cursor: pointer;

        i {
          font-size: 2rem;
          color: var(--white);
          transition: 0.3s;

          &:hover {
            color: rgba(255, 100, 100, 0.8);
            transform: scale(1.5);
          }
        }
      }

      @media (min-height: 900px) {
        background-size: auto;
      }
    }
  }

  .row {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(230px, 270px);
    grid-gap: 30px;

    .box {
      transition: 0.2s;
      position: relative;
      overflow: hidden;

      &:hover {
        transition: 0.6s;
        transform: scale(1.05);
        overflow: auto;
        z-index: 999;
      }

      &.tall-span {
        grid-row: span 2;
      }
      &.wide-span {
        grid-column: span 2;
      }

      .subtitle {
        font-size: 1.4rem;
      }

      &#overall {
        .name {
          font-size: 1.5rem;
        }
        .release-date {
          font-size: 1.05rem;
          color: var(--gray-3);
          span {
            color: var(--black);
            font-size: 1.2rem;
          }
        }
        .website {
          text-align: center;

          a {
            font-size: 1.2rem;
            font-weight: 400;
            text-decoration: none;
            color: var(--black);
            display: inline-block;
            margin: 1rem 1rem 0;
            padding: 0.5rem;
            border-radius: var(--b-radius);
            transition: 0.2s;

            outline: 1px solid var(--black);

            &:hover {
              letter-spacing: 1px;
            }
          }
        }

        .genres {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          span {
            background-color: var(--black);
            color: var(--white);
            padding: 6px 9px;
            margin: 6px;
            border-radius: var(--b-radius);
            pointer-events: none;
          }
        }
      }

      &#description {
        text-align: justify;

        .content {
          position: relative;
        }
      }

      &#where {
        display: flex;
        flex-direction: column;

        section {
          .subtitle {
            font-size: 1.2rem;
          }
          .content {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            span {
              font-size: 0.9rem;
              background-color: var(--black);
              color: var(--white);
              padding: 6px 9px;
              margin: 6px;
              border-radius: var(--b-radius);
              pointer-events: none;
            }
          }

          .tags-content {
            margin: 10px 0;
            font-size: 0.9rem;

            span {
              padding: 0.5rem;
              text-transform: capitalize;
              transition: 0.3s;

              &:hover {
                font-weight: 800;
              }
              &::after {
                content: ", ";
              }
            }
          }
        }
      }

      &#developers {
        color: var(--gray-3);
        text-align: center;
        font-size: 1.05rem;

        .team {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: var(--black);
          }
        }
      }

      &#rating {
        .content {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          .value {
            font-size: 1.2rem;
            color: var(--gray-3);
            span {
              font-size: 2rem;
              color: red;
            }
          }
        }
      }

      &#other,
      &#reddit,
      &#description,
      &#where {
        overflow: auto;
      }
    }

    // qs
    @media (max-width: 1140px) {
      grid-template-columns: 1fr 1fr;

      .box {
        &.tall-span {
          grid-row: span 1;
        }
        &.wide-span {
          grid-column: span 1;
        }

        &#description,
        &#overall {
          grid-column: span 2;
        }
      }
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;

      .box {
        grid-column: span 2;

        &.wide-span {
          grid-column: span 2;
        }

        & > div {
          grid-column: span 1;
        }
      }
    }
  }
}
