<div class="overlay">
  <app-navbar [transparent]="false"></app-navbar>
  <header *ngIf="game">
    <div
      class="box"
      [style.backgroundImage]="'url(' + game.background_image + ')'"
    >
      <div class="bookmark" (click)="saveGame()">
        <i class="{{ !isSaved() ? 'far fa-bookmark' : '' }}"></i>
        <i class="{{ isSaved() ? 'fas fa-bookmark' : '' }}"></i>
      </div>
    </div>
  </header>

  <!-- grid -->
  <div class="row" *ngIf="game">
    <!-- OVERALL -->
    <div class="box" id="overall">
      <!-- <div class="box-overlay">overall</div> -->
      <div class="name">{{ game.name }}</div>
      <div class="release-date">
        Release Date: <span>{{ game.released }}</span>
      </div>
      <div class="website">
        <a target="_blank" href="{{ game.website }}">Official Website</a>
      </div>
      <div class="genres">
        <span *ngFor="let genre of game.genres">{{ genre.name }}</span>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="box wide-span tall-span" id="description">
      <div class="content" [innerHTML]="game.description"></div>
    </div>

    <!-- DEVELOPERS -->
    <div class="box" id="developers">
      <img
        src="{{ game.developers[0].image_background }}"
        alt="developerImg"
        height="100px"
      />

      <div class="team">
        Developers: <span>{{ game.developers[0].name }}</span>
      </div>
      <div class="team">
        Publishers: <span>{{ game.publishers[0].name }}</span>
      </div>
    </div>

    <!-- RATING -->
    <div class="box" id="rating">
      <div class="subtitle">Rating</div>
      <div class="content">
        <div class="value">
          <span>{{ game.rating }}</span
          >/ 5<!-- {{ game.rating_top }} -->
        </div>
        <star-rating
          [value]="game.rating"
          [totalstars]="game.rating_top"
          checkedcolor="orange"
          uncheckedcolor="black"
          size="52px"
          [readonly]="true"
        ></star-rating>
      </div>
    </div>

    <!-- platforms / stores / tags -->
    <div class="box tall-span" id="where">
      <section class="platforms">
        <div class="subtitle">Playable on</div>
        <div class="content">
          <span *ngFor="let platform of game.parent_platforms">{{
            platform.platform.name
          }}</span>
        </div>
      </section>
      <section class="stores">
        <div class="subtitle">Available on</div>
        <div class="content">
          <span *ngFor="let storeP of game.stores">{{
            storeP.store.name
          }}</span>
        </div>
      </section>
      <section class="tags">
        <div class="subtitle">Tags</div>
        <div class="tags-content">
          <span *ngFor="let tag of game.tags">{{ tag.name }}</span>
        </div>
      </section>
    </div>

    <!-- same series games -->
    <div class="box tall-span" id="other">
      <div class="subtitle">Other Games</div>
      <div *ngFor="let game of sameSeriesGames">
        <div class="card" (click)="openGameOverview(game.id)">
          <img src="{{ game.background_image }}" alt="thumbnail" />
          <div class="card-name">{{ game.name }}</div>
          <div class="card-rating">{{ game.rating }} <span> /5</span></div>
        </div>
      </div>
    </div>

    <!-- screenhots -->
    <div class="box wide-span tall-span" id="screenshots">
      <div class="subtitle">Screenshots</div>
      <app-screenshots [id]="gameId"></app-screenshots>
    </div>

    <!-- reddit -->
    <div class="box tall-span" id="reddit">
      <div class="subtitle">Recent posts on Reddit</div>
      <app-reddit [id]="gameId"></app-reddit>
    </div>
  </div>
</div>
