<app-navbar [transparent]="true"></app-navbar>
<header class="hero">
  <video
    loop
    autoplay
    oncanplay="this.play()"
    muted
    onloadedmetadata="this.muted = true"
  >
    <source
      src="https://lazarks.github.io/angular-game-tracker/assets/background/pexels-tima-miroshnichenko-7047586.mp4"
    />
  </video>
  <div class="overlay"></div>

  <div class="text">
    <h2>Never Stop</h2>
    <h3>Exploring The World</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus nemo
      velit a vel qui distinctio, voluptas repellendus reprehenderit nam magnam.
    </p>
    <a href="#about">Explore</a>
  </div>
</header>

<!-- about | what-we-offer -->
<section class="about" id="about">
  <app-about></app-about>
</section>

<!-- recommended -->
<section>
  <app-recommended></app-recommended>
</section>

<section class="contact">
  <div class="title">
    <div class="overlay"></div>
    <div class="title-main">CONTACT</div>
    <div class="title-add">Drop a note!</div>
  </div>
  <div class="content">
    <div class="flex-wrapper">
      <div class="info">
        <table>
          <tr>
            <td><i class="fas fa-map-marker-alt"></i></td>
            <td>City, Country</td>
          </tr>
          <tr>
            <td><i class="fas fa-phone"></i></td>
            <td>Phone: +00 151515</td>
          </tr>
          <tr>
            <td><i class="fas fa-envelope"></i></td>
            <td>Email: lazar@gmail.com</td>
          </tr>
        </table>
      </div>
      <div class="form">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="sendMessage()"
          autocomplete="off"
        >
          <div class="form-group user-info">
            <input
              type="text"
              placeholder="Name"
              id="name"
              formControlName="name"
            />
            <input
              type="text"
              placeholder="Email"
              id="email"
              formControlName="email"
            />
          </div>
          <div class="form-group msg">
            <input
              type="text"
              placeholder="Message"
              id="message"
              formControlName="message"
            />
          </div>
          <div
            class="alertmessage"
            *ngIf="contactForm.touched && contactForm.invalid"
          >
            <div
              *ngIf="
                contactForm.controls['name'].invalid &&
                contactForm.controls['name'].touched
              "
            >
              Name must have atleast 3 characters!
            </div>
            <div
              *ngIf="
                contactForm.controls['email'].invalid &&
                contactForm.controls['email'].touched
              "
            >
              Invalid email!
            </div>
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="SEND"
              id="submit"
              [disabled]="contactForm.invalid && contactForm.touched"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer>
  <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
  <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
  <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
</footer>
