<app-navbar [transparent]="true"></app-navbar>
<section class="hero">
  <video
    loop
    autoplay
    oncanplay="this.play()"
    muted
    onloadedmetadata="this.muted = true"
  >
    <source
      src="../../../assets/background/pexels-tima-miroshnichenko-7047586.mp4"
    />
  </video>
  <div class="overlay"></div>

  <div class="text">
    <h2>Never Stop</h2>
    <h3>Exploring The World</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus nemo
      velit a vel qui distinctio, voluptas repellendus reprehenderit nam magnam.
    </p>
    <a href="#about">Explore</a>
  </div>
</section>

<section class="about" id="about">
  <div class="section-title">
    <div class="title">What We Offer</div>
    <div class="sub-title">we love food!</div>
  </div>
  <div class="content">
    <div class="desc">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae quo
      cupiditate tempore quas, repellat in nemo reiciendis eos fuga quod dolor
      aliquam velit expedita facilis maiores excepturi voluptatum sint quibusdam
      illum a totam! Fugit asperiores iste illo praesentium deleniti laboriosam,
      earum quos harum accusamus eligendi autem eos est tempore, qui laborum
      obcaecati, voluptatibus voluptas magni fuga iusto nihil neque. Voluptas
      pariatur similique voluptate quod reprehenderit! Nisi beatae corporis
      cumque quod est harum, repellat, neque, magnam rerum placeat dolorem
      error. Delectus nihil, aut quo blanditiis quam, aperiam molestiae sunt
      adipisci et repellat eum dignissimos quos iure nisi aliquid consectetur
      excepturi eaque.
    </div>
    <div class="showcase">
      <div class="card">
        <div class="name">Description</div>
        <img
          src="../../../assets/images/about/description.png"
          alt="description-icon"
        />
      </div>
      <div class="card">
        <div class="name">Ingredients</div>
        <img
          src="../../../assets/images/about/ingredients.png"
          alt="ingredients-icon"
        />
      </div>
      <div class="card">
        <div class="name">Preparation</div>
        <img
          src="../../../assets/images/about/preparation.png"
          alt="preparation-icon"
        />
      </div>
    </div>
  </div>
</section>

<section class="recommended">
  <div class="section-title">Recommended</div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div
      ngxSlickItem
      *ngFor="let slide of slides; let i = index"
      [attr.data-index]="i"
      class="slide"
    >
      <div class="card">
        <div class="title">Title</div>
        <img src="{{ slide.img }}" alt="" />
        <div class="description">
          <div class="id">id: {{ i }}</div>
          <div>Lorem ipsum dolor sit amet.</div>
          <div>Lorem, ipsum dolor.</div>
          <div>Lorem, ipsum dolor.</div>
          <div>Lorem, ipsum dolor.</div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</section>

<section class="contact">
  <div class="title">
    <div class="overlay"></div>
    <div class="title-main">CONTACT</div>
    <div class="title-add">Drop a note!</div>
  </div>
  <div class="content">
    <div class="flex-wrapper">
      <div class="info">
        <table>
          <tr>
            <td><i class="fas fa-map-marker-alt"></i></td>
            <td>Krusevac, RS</td>
          </tr>
          <tr>
            <td><i class="fas fa-phone"></i></td>
            <td>Phone: +00 151515</td>
          </tr>
          <tr>
            <td><i class="fas fa-envelope"></i></td>
            <td>Email: lazar@gmail.com</td>
          </tr>
        </table>
      </div>
      <div class="form">
        <form>
          <div class="form-group user-info">
            <input type="text" placeholder="Name" id="name" />
            <input type="text" placeholder="Email" id="email" />
          </div>
          <div class="form-group msg">
            <input type="text" placeholder="Message" id="message" />
          </div>
          <div class="form-group">
            <input type="submit" value="SEND" id="submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer>
  <i class="fab fa-facebook-f"></i>
  <i class="fab fa-youtube"></i>
  <i class="fab fa-twitter"></i>
  <i class="fab fa-instagram"></i>
</footer>
