.hero {
  height: 90vh; // 100vh - 10vh(navbar)
  max-height: 1000px;
  background: transparent;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // transition: 0.5s;

  video {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: 0.75;
  }

  .overlay {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    // background: #f8af4f93;
    background: rgba(153, 109, 49, 0.93);

    // not supported in MS Edge
    // currently on the backlog
    mix-blend-mode: overlay;
  }

  .text {
    // background-color: red;
    width: fit-content;
    position: relative;

    padding: 30px;
    z-index: 10;

    h2,
    h3 {
      font-size: 3rem;
      font-weight: 800;
      line-height: 1em;
      text-transform: uppercase;
    }

    h3 {
      font-size: 2rem;
      font-weight: 700;
    }

    p {
      font-size: 1.1rem;
      margin: 20px 0;
      font-weight: 400;
      max-width: 600px;
    }

    a {
      background-color: #fff;
      color: #111;
      display: inline-block;
      margin-top: 10px;
      padding: 10px 30px;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;

      opacity: 1;
      transition: 0.2s;

      &:hover {
        letter-spacing: 6px;
      }
    }
  }

  @media (max-width: 798px) {
    .hero {
      padding: 40px 10px;

      .text {
        h2 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.about {
  height: fit-content;
  max-height: 1000px;
  background-color: #f3f3f3;
  color: #111;

  .section-title {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding: 2rem;

    .sub-title {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      color: orange;
      font-style: italic;
    }
  }

  .content {
    position: relative;
    padding: 0 40px 40px;
    width: 60%;
    margin: 0 auto;

    .showcase {
      margin-top: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .card {
        padding: 10px;
        cursor: pointer;
        transition: 0.3s;

        .name {
          text-align: center;
          font-size: 1.4rem;
          font-weight: 500;
          padding: 5px;
          margin-bottom: 10px;
        }

        img {
          width: 150px;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  @media (max-width: 900px) {
    .content {
      width: 80%;
    }
  }

  @media (max-width: 720px) {
    .content {
      width: 100%;
    }
  }
}
.recommended {
  height: 100vh;
  max-height: 1000px;
  background-color: #f3f3f3;
  color: #111;
}

.contact {
  height: 100vh;
  max-height: 1000px;

  .title {
    position: relative;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title-main {
      font-size: 2.3rem;
      letter-spacing: 1rem;
    }
    .title-add {
      letter-spacing: 0.1rem;
      font-size: 1rem;
      color: #f8af4f;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: #018dff;
      mix-blend-mode: overlay;
    }
  }
  .content {
    background-color: #f3f3f3;
    color: #111;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    .flex-wrapper {
      // background: orange;
      display: flex;
      gap: 40px;
      .info {
        // background-color: rgba(255, 0, 0, 0.103);
        table {
          border-spacing: 15px;
          font-size: 1.2rem;

          i {
            font-size: 1.3rem;
          }
        }
      }

      .form {
        padding: 15px;
        // background-color: #999;
        .form-group.user-info {
          display: flex;
          // background-color: red;
          justify-content: space-between;
        }
        input {
          padding: 10px;
          font-size: 1.1rem;
          margin-bottom: 10px;
        }

        #name,
        #email {
          width: 48%;
        }

        #message {
          width: 100%;
        }

        .form-group:last-child {
          text-align: end;

          input {
            background-color: #111;
            color: #f3f3f3;
            padding: 5px 10px;
            font-weight: 300;
            cursor: pointer;
            transition: 0.3s;
            border: none;

            &:hover {
              padding-left: 20px;
              letter-spacing: 0.5rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .info {
      display: flex;
      justify-content: center;
    }
    .flex-wrapper {
      width: 90%;
      flex-direction: column;
    }
  }
}

footer {
  height: 10vh;
  max-height: 100px;
  position: relative;
  background-color: #111;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  i {
    font-size: 1.3rem;
    transition: 0.1s;
    cursor: pointer;
    &:hover {
      transform: scale(1.3);
    }
    &.fa-facebook-f:hover {
      color: #3b5998;
    }
    &.fa-youtube:hover {
      color: #ff0000;
    }
    &.fa-twitter:hover {
      color: #1da1f2;
    }
    &.fa-instagram:hover {
      color: #833ab4;
    }
  }
}

// overall responsiveness
@media (max-height: 500px) {
  .hero {
    min-height: 90vh;
    height: auto;

    .text {
      margin-top: 0;
      padding: 0 5px;
    }
  }

  .contact,
  .about,
  .recommended {
    min-height: 100vh;
    height: 700px;
  }

  footer {
    min-height: 10vh;
    height: auto;
  }
}
