<div class="section-title">
  <div class="title">What We Offer</div>
  <div class="sub-title">we love gaming!</div>
</div>
<div class="content">
  <div class="container">
    <div class="desc">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae quo
      cupiditate tempore quas, repellat in nemo reiciendis eos fuga quod dolor
      aliquam velit expedita facilis maiores excepturi voluptatum sint quibusdam
      illum a totam! Fugit asperiores iste illo praesentium deleniti laboriosam,
      earum quos harum accusamus eligendi autem eos est tempore, qui laborum
      obcaecati, voluptatibus voluptas magni fuga iusto nihil neque.
    </div>

    <a routerLink="games">See All</a>
  </div>
  <div class="showcase">
    <img
      src="../../../../assets/background/pngfind.com-gaming-png-259933.png"
      alt="image-png"
    />
  </div>
</div>
