.container {
  color: #111;
  // background-color: #999;
  min-height: 500px;
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;

  .info {
    background-color: #fff;
    box-shadow: 2px 4px 10px #999;
    border-radius: 6px;
    padding: 2rem;
    height: fit-content;
  }

  .showcase {
    width: 50%;

    .game {
      background-color: #fff;
      box-shadow: 2px 4px 10px #999;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 150px;
      border-radius: 6px;

      margin-bottom: 30px;
      transition: 0.4s;

      &:hover {
        box-shadow: 2px 4px 20px #666;
        transform: translateY(-3px);
      }

      .thumbnail {
        flex: 1 0 0;
        overflow: hidden;
        height: 100%;
        width: 33%;
        img {
          height: 150px;
        }
      }

      .desc {
        flex: 1 0 0;
        // text-align: center;
        font-size: 1.2rem;
        margin-left: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .game-name {
          margin-top: 20px;
        }

        a {
          // background-color: #111;
          font-size: 1rem;
          font-weight: 400;
          padding: 10px;
          color: #111;
          cursor: pointer;
          transition: 0.3s;
          letter-spacing: 1px;

          &:hover {
            letter-spacing: 3px;
          }
        }
      }

      .remove {
        flex: 1 1 0;
        text-align: center;
        font-size: 1.2rem;
        overflow: hidden;

        i {
          font-size: 1.5rem;
          cursor: pointer;

          &:hover {
            font-size: 1.6rem;
            transform: scale(1.4);
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    .info {
      text-align: center;
    }

    .showcase {
      width: 80%;
      margin: 30px auto;

      .game {
        flex-direction: column;
        height: fit-content;

        .thumbnail {
          background-color: #999;
          width: 100%;
          flex: auto;
          height: 172px;
          text-align: center;

          img {
            width: auto;
            height: 172px;
          }
        }
      }
    }
  }
}
