<section class="recommended" *ngIf="slides">
  <div class="section-title">Recommended</div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div
      ngxSlickItem
      *ngFor="let game of slides; let i = index"
      [attr.data-index]="i"
      class="slide"
    >
      <div class="card" (click)="openGameOverview(game.id)">
        <h3 class="title">{{ game.name }}</h3>
        <img src="{{ game.background_image }}" alt="background_image" />
        <div class="description">
          <div>{{ game.description_raw }}</div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</section>
