<app-navbar [transparent]="false"></app-navbar>
<div class="cont-wrapper">
  <div class="filters" *ngIf="games">
    <h3>FILTER RESULTS</h3>

    <!-- sort -->
    <h4>Sort By</h4>
    <div class="sort">
      <form>
        <div class="form-group">
          <select
            class="form-control sortby"
            name="selectSort"
            id="selectSort"
            [(ngModel)]="sort"
            (change)="searchGames(sort, lastSearch)"
            [ngModelOptions]="{ standalone: true }"
            [value]="sort"
          >
            <option value="name">Name</option>
            <option value="released">Released</option>
            <option value="-added">Added</option>
            <option value="-created">Created</option>
            <option value="-updated">Updated</option>
            <option value="rating">Rating</option>
            <option value="-metacritic">Metacritic</option>
          </select>
        </div>
      </form>
    </div>

    <!-- platforms -->
    <h4>Platforms</h4>
    <div class="filter platforms">
      <div class="radio" *ngFor="let platform of platforms">
        <input
          class="radio-input"
          type="radio"
          value="{{ platform.id }}"
          name="platformRadio"
          id="{{ platform.name }}"
          (change)="searchByPlatform($event)"
        />
        <label class="radio-label" for="{{ platform.name }}">{{
          platform.name
        }}</label>
      </div>
    </div>

    <!-- genres -->
    <h4>Genres</h4>
    <div class="filter genres">
      <form>
        <div class="genre" *ngFor="let genre of genres">
          <input
            type="checkbox"
            id="{{ genre.name }}"
            value="{{ genre.slug }}"
            (change)="addGenre($event)"
          />
          <label for="{{ genre.name }}">{{ genre.name }}</label>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <app-search></app-search>

    <div class="gameList">
      <ng-container *ngFor="let game of games">
        <div class="game">
          <div class="game-thumbnail-container">
            <img
              *ngIf="game.background_image"
              src="{{ game.background_image }}"
              alt="game-thumbnail"
              class="game-thumbnail"
            />
            <p *ngIf="!game.background_image">No image</p>
          </div>
          <div class="game-description">
            <p class="game-name">{{ game.name }}</p>
            <div class="game-platforms">
              <img
                *ngFor="let gamePlatform of game.parent_platforms"
                src="../../../assets/platforms/{{
                  gamePlatform.platform.name
                }}.svg"
                alt="{{ gamePlatform.platform.name }}"
                class="game-platform"
              />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
